* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  font-family: "Inter", sans-serif;
}

/* common style start*/
.container {
  max-width: 1400px;
  margin: 0px auto;
  padding: 0px 30px;
  /* background-color: beige; */
}
h2 {
  font-size: 48px;
  font-weight: 700;
  color: #001931;
}
p {
  color: #627382;
  font-size: 16px;
}
/* .center {
  display: flex;
  justify-content: center;
} */
.btn {
  background-color: #469165;
  padding: 12px 16px;
  text-decoration: none;
  color: #ffffff;
  font-size: 16px;
  font-weight: 600;
  border-radius: 4px;
  transition: 0.4s;
}
.btn:hover {
  background-color:#f95555;
}
/* common style end*/

/* main style start */
/* header style start */
.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 16px 30;
}

.header .navbar .nav-menu {
  display: flex;
  gap: 32px;
  list-style: none;
}
.header .navbar .nav-menu a {
  text-decoration: none;
  color: #000000;
  font-size: 16px;
  font-weight: 500;
}

.header .hero {
  background: url(../assets/hero-bg.png) center no-repeat;
  background-size: cover;
  text-align: center;
  padding: 115px 0px 180px;
}
.header .hero .early {
  display: flex;
  justify-content: center;
  align-items: center;
  width: fit-content;
  gap: 6px;
  background-color: #ffffff;
  color: #469165;
  font-size: 16px;
  font-weight: 500;
  padding: 8px 12px;
  border: none;
  border-radius: 1000px;
  /* margin-bottom:16px; */
  margin: 0px auto 16px;
}
.header .hero h1 {
  font-size: 72px;
  font-style: Bold;
  font-weight: 700;
  line-height: 84px;
  text-align: center;
  color: #ffffff;
  max-width: 770px;
  margin: 0px auto;
  margin-bottom: 16px;
}
.header .hero h1 span {
  color: #469165;
}
.header .hero p {
  max-width: 680px;
  margin: 0px auto 32px auto;
  color:#FFFFFF ;
  font-size: 18px;
  line-height: 24px;
}

.header .hero .hero-buttons{
  display: flex;
  gap: 16px;
  justify-content: center;
}
.first-btn:hover{
  background: transparent;
  border: 2px solid white;
}
.secend-btn{
  background: transparent;
  border: 2px solid white;
  transition: 0.4s;
}
.secend-btn:hover{
  background-color: #469165;
  border: none;
}

/* header style start */

/* main style end */
