* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  font-family: "Inter", sans-serif;
}

/* common style start*/
.container {
  max-width: 1400px;
  margin: 0px auto;
  padding: 0px 30px;
  background-color: beige;
}
h2 {
  font-size: 48px;
  font-weight: 700;
  color: #001931;
}
p {
  color: #627382;
  font-size: 16px;
}
.btn{
  background-color: #469165;
  padding: 12px 16px;
  text-decoration: none;
  color: #FFFFFF;
  font-size: 16px;
  font-weight: 600;
  border-radius: 4px;
}
/* common style end*/

/* main style start */
/* header style start */
.navbar{
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 16px 30px;
}

.navbar .nav-menu {
  display: flex;
  gap: 32px;
  list-style: none;
}
.navbar .nav-menu a{
  text-decoration: none;
  color: #000000;
  font-size: 16px;
  font-weight: 500;
}

/* header style start */













/* main style end */