* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  font-family: "Inter", sans-serif;
  color: #fbfbfb;
}

/* common style start*/
.container {
  max-width: 1400px;
  margin: 0px auto;
  padding: 0px 30px;
  /* background-color: beige; */
}
h2 {
  font-size: 48px;
  font-weight: 700;
  color: #001931;
}
p {
  color: #627382;
  font-size: 16px;
}

.btn {
  background-color: #469165;
  padding: 12px 16px;
  text-decoration: none;
  color: #ffffff;
  font-size: 16px;
  font-weight: 600;
  border-radius: 4px;
  transition: 0.4s;
}
.btn:hover {
  background-color: #f95555;
}
/* common style end*/

/* main style start */
/* header style start */
.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 16px 30px;
}

.header .navbar .nav-menu {
  display: flex;
  gap: 32px;
  list-style: none;
}
.header .navbar .nav-menu a {
  text-decoration: none;
  color: #000000;
  font-size: 16px;
  font-weight: 500;
}

.header .hero {
  background: url(../assets/hero-bg.png) center no-repeat;
  background-size: cover;
  text-align: center;
  padding: 115px 0px 180px;
}
.header .hero .early {
  display: flex;
  justify-content: center;
  align-items: center;
  width: fit-content;
  gap: 6px;
  background-color: #ffffff;
  color: #469165;
  font-size: 16px;
  font-weight: 500;
  padding: 8px 12px;
  border: none;
  border-radius: 1000px;
  /* margin-bottom:16px; */
  margin: 0px auto 16px;
}
.header .hero h1 {
  font-size: 72px;
  font-style: Bold;
  font-weight: 700;
  line-height: 84px;
  text-align: center;
  color: #ffffff;
  max-width: 770px;
  margin: 0px auto;
  margin-bottom: 16px;
}
.header .hero h1 span {
  color: #469165;
}
.header .hero p {
  max-width: 680px;
  margin: 0px auto 32px auto;
  color: #ffffff;
  font-size: 18px;
  line-height: 24px;
}

.header .hero .hero-buttons {
  display: flex;
  gap: 16px;
  justify-content: center;
}
.first-btn:hover {
  background: transparent;
  border: 2px solid white;
}
.secend-btn {
  background: transparent;
  border: 2px solid white;
  transition: 0.4s;
}
.secend-btn:hover {
  background-color: #469165;
  border: none;
}
/* header style end */

/* notes style start */
.notes {
  padding-top: 50px;
}
.notes h2,
p {
  text-align: center;
  margin-bottom: 16px;
}
.notes-card-container {
  display: flex;
  gap: 24px;
  /* flex-wrap: wrap; */
  padding-top: 28px;
}
.notes-card {
  display: flex;
  gap: 16px;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  padding: 69px 24px;
  border: none;
  border-radius: 8px;
  background-color: #ffffff;
  box-shadow: 10px 10px 50px #00000021;
}
.notes-card img {
  max-width: 50px;
  background-color: #f95555;
  padding: 14px 14px;
  border: none;
  border-radius: 100%;
}
.notes-card h3 {
  text-align: center;
  font-size: 24px;
  font-weight: 600;
}
.notes-card p {
  line-height: 20px;
  margin-bottom: 0px;
}
/* notes style end */

/* knowledge style start */
.knowledge {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 60px;
  margin-top: 120px;
}

.knowledge-content span {
  font-weight: 500;
  line-height: 20px;
  text-align: left;
  text-transform: uppercase;
  color: #469165;
}
.knowledge-content span {
  display: inline-block;
  font-weight: 500;
  line-height: 20px;
  text-align: left;
  text-transform: uppercase;
  color: #469165;
  margin-bottom: 16px;
}
.knowledge-content h2{
  max-width: 600px;
  text-transform: capitalize;
  margin-bottom: 16px;
}
.knowledge-content p{
  text-align: left;
  margin-bottom: 40px;
}

.knowledge-content ul li{
  list-style: none;
  display: flex;
  gap: 10px;align-items: center;
  justify-content: left;
  margin-bottom: 16px;
  color: #001931;
  font-weight: 500;
}
/* knowledge style end */
.think{
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 16px;
  background-color: #f7f6f2;
  border-radius: 12px;
  margin-top: 120px;
  padding: 80px 0px;
}
.think .btn{
  width: fit-content;
  box-shadow: 10px 10px 50px #00000044;
}
.think p{
  max-width: 610px;
  line-height: 20px;
}
/* main style end */
